body {
    margin: 0;
    padding: 0;
    overflow: hidden;

}
/*---nav==*/
.main{
    width: 100%;
    background-image: url(../posts/image/nature19.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: yellowgreen;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}


ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: rgb(17, 17, 17);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(142, 155, 117);
}
.center-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.content h1 {
    font-weight: 600;
    font-size: 75px;
}
.content p{
    font-weight: 500;
    font-size: 25px;
    color: rgb(135, 146, 156);

}
.content span{
    color:rgb(70, 212, 42);
}
.center-image {
    position: relative;
}

.center-image img {
    width: 100%;
    height: 100vh; /* Set the height to fill the screen vertically */
    object-fit: cover; /* Cover the entire viewport */
    filter: blur(5px);
}
.button a{
text-decoration: none;
color:white;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: yellowgreen;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-style: normal;
}
.cta-button:hover{
    background-color:white;
    color: yellowgreen;
}